page-login {
    ion-content {
        button {
            border-radius: 10px !important;
        }
        .scroll-content {
            // background-image: url("../assets/images/pattern.svg");
            // background-color: #4a9bfd
            background: #4568DC;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to left bottom, #4568DC, #B06AB3);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left bottom, #4568DC, #B06AB3);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .logo-wrapper {
            padding-top: 40px;
            text-align: center;
            img.logo {
                width: 80%;
                opacity: 0.7;
                margin: auto
            }
        }
        .wrapper {
            position: absolute;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            .form-wrapper {
                margin-bottom: 30px;
                form {
                    text-align: center;
                    ion-item.field {
                         ::-webkit-input-placeholder {
                            /* Chrome/Opera/Safari */
                            color: #fff;
                        }
                         ::-moz-placeholder {
                            /* Firefox 19+ */
                            color: #fff;
                        }
                         :-ms-input-placeholder {
                            /* IE 10+ */
                            color: #fff;
                        }
                         :-moz-placeholder {
                            /* Firefox 18- */
                            color: #fff;
                        }
                        border-radius: 10px;
                        margin-bottom: 5px;
                        color: #fff;
                        background-color: rgba(255, 255, 255, 0.12);
                        // border: 1px solid rgba(#959595, 0.5);
                        .item-inner {
                            box-shadow: none !important;
                            border-bottom: none !important;
                            ion-label {
                                margin-top: 0 !important;
                                margin-bottom: 0 !important;
                                transform: translate(0, 2.5px)
                            }
                            ion-input {
                                input {
                                    margin: 10px
                                }
                            }
                        }
                    }
                    button#submit {
                        box-shadow: none;
                        background-color: rgba(255, 255, 255, 0.12);
                        color: #fff;
                        border: 1px solid rgba(255, 255, 255, 0.46);
                        margin-top: 30px;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            .social-login {
                text-align: center;
                margin-bottom: 50PX;
                color: #fff;
                button {
                    width: 60vw;
                    position: relative;
                    img {
                        height: 20px;
                        position: absolute;
                        left: 25px;
                        top: 50%;
                        transform: translate(0, -50%)
                    }
                    span {
                        color: #fff;
                        font-size: 1em
                    }
                }
                button.facebook {
                    background-color: #324e91;
                }
                button.google {
                    box-shadow: none;
                    background-color: rgba(255, 255, 255, 0.12);
                    color: #fff;
                    border: 1px solid rgba(255, 255, 255, 0.46);
                    margin-top: 20px;
                }
            }
            .utils {
                a.top {
                    margin-bottom: 10px
                }
                a {
                    display: block;
                    color: #fff
                }
                a.bold {
                    // font-family: $font-b;
                    font-weight: 700;
                }
            }
        }
    }
}