page-board {
    .board-title {
        transform: translateY(-15px);
        ion-item {
            height: 25px;
            min-height: 25px;
            .item-inner {
                height: 25px;
                min-height: 25px;
                border-bottom: none !important;
                .input-wrapper {
                    height: 25px;
                    ion-label {
                        color: #ff9d11;
                        font-family: $font-sb;
                        font-size: 1.75em;
                        margin: 0;
                        line-height: 25px;
                    }
                }
                ion-toggle {
                    position: relative;
                    // transform: translateY(-7px);
                    padding: 0 !important;
                    &:after {
                        position: absolute;
                        content: "My/All";
                        left: -50px;
                        top: -2px;
                    }
                }
            }
        }
    }
    .tabbar {
        background: #fff !important;
        border: none !important;
        .tab-button-text {
            line-height: 1.2 !important;
        }
        #tab-t0-0 {
            color: #2b86f6;
            opacity: 0.7;
        }
        #tab-t0-1 {
            color: #ff9d11;
            opacity: 0.7;
        }
        #tab-t0-2 {
            color: #ef5350;
            opacity: 0.7;
        }
        #tab-t0-3 {
            color: #08f165;
            opacity: 0.7;
        }
        #tab-t0-0[aria-selected="true"] {
            border-bottom: 2px solid
        }
        #tab-t0-1[aria-selected="true"] {
            border-bottom: 2px solid #ff9d11;
        }
        #tab-t0-2[aria-selected="true"] {
            border-bottom: 2px solid #ef5350;
        }
        #tab-t0-3[aria-selected="true"] {
            border-bottom: 2px solid #08f165;
        }
        &:before {
            opacity: 0
        }
    }
}