<ion-header no-border>
    <ion-navbar color="white">
        <ion-buttons start>
            <button ion-button (click)="goToPinned()">
<img id="logo" src="assets/images/pin.svg" alt="">
      </button>
        </ion-buttons>
        <ion-title>Home</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addSong()">
    <ion-icon name="add"></ion-icon>
  </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let song of songs | async" (click)="showOptions(song.$key, song.title)">
            {{song.title}}
        </ion-item>
    </ion-list>
    <div class="board-wrapper" (panend)="panStop($event)" (pan)="pan($event)" (swipe)="swipeEvent($event)">
        <!--<div class="board" *ngFor="let board of boards" [ngStyle]="{'z-index' : board['z-index'], 'opacity' : board['opacity']}">-->
        <div class="board" *ngFor="let board of boards;let i=index;" [ngStyle]="{'left':board['left']}" [@state]="board['state']" id="location_{{i}}" (click)="goToBaord()">
            <div class="content-wrapper">
                <div class="title-wrapper">
                    <div class="title">{{board["title"]}}</div>
                    <div class="pin">
                        {{board["state"]}}
                        <!--<img src="assets/images/pin.svg" alt="">-->
                    </div>
                </div>
                <div class="progress-wrapper">
                    <div class="in-progress">
                        <div class="title">In progress</div>
                        <div class="disc">veque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</div>
                    </div>
                    <div class="emergency">
                        <div class="title">Emergency</div>
                        <div class="disc">veque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</div>
                    </div>
                </div>
                <div class="tasks-wrapper">
                    <div class="tasks">
                        <div class="title">
                            Tasks
                        </div>
                        <div class="number">
                            60
                        </div>
                    </div>
                    <div class="done">
                        <div class="title">
                            Done
                        </div>
                        <div class="number">
                            60
                        </div>
                    </div>
                    <div class="left">
                        <div class="title">
                            Left
                        </div>
                        <div class="number">
                            60
                        </div>
                    </div>
                </div>
                <div class="utility-wrapper">
                    <div class="notification">
                        <ion-datetime displayFormat="none" pickerFormat="DD MMM h mm A"></ion-datetime>
                        <img src="assets/images/bell.svg" alt="">
                    </div>
                    <div class="collaborator" (click)="presentInviteModal()">
                        <img src="assets/images/user.svg" alt="">
                    </div>
                    <div class="more" (click)="openSheet()">
                        <div class="round"></div>
                        <div class="round"></div>
                        <div class="round"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</ion-content>