modal-add-board {
    ion-content {
        .form-wrapper {
            .btn-wrapper {
                text-align: center;
                button {
                    margin: 40px#B3B4B5 auto;
                    background: #000
                }
            }
        }
    }
}